﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" ng-controller="EmployeeController">
    <h2>{{PageTitle}}</h2>
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Designation</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody ng-repeat="emp in employeeList" ng-switch="row.edit" ng-init="row={}">
            <tr>
                <td>{{emp.Id}}</td>
                <td>{{emp.EmpName}}</td>
                <td>{{emp.Designation}}</td>
                <td>
                    <input type="button" class="btn btn-group-sm btn-warning" name="Edit" value="Edit" ng-click="getEmployee(emp.Id);row.edit=true" />
                    <input type="button" class="btn btn-group-sm btn-danger" name="Edit" value="Delete" ng-click="deleteEmployee($index,emp.Id)" />
                </td>
            </tr>
            
            <tr ng-switch-when="true">
                <td>{{emp.Id}}</td>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon">Name:</span>
                        <input type="text" class="form-control" ng-model="emp.EmpName" ng-value="emp.EmpName" required="required">
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon">Designation:</span>
                        <input type="text" class="form-control" ng-model="emp.Designation" ng-value="emp.Designation" required="required">
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-success btn-sm" ng-click="editEmployee(emp) ; row.edit=false">
                        <span class="glyphicon glyphicon-save"></span> Save
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    
    <br/>
    
    <div class="row">
        <table class="table table-striped table-bordered">
            <tbody>
                <tr ng-if="states.showEmpForm">
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon">Employee Name</span>
                            <input type="text" class="form-control" ng-model="new.Employee.EmpName" required="required">
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon">Designation</span>
                            <input type="text" class="form-control" ng-model="new.Employee.Designation" required="required">
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" ng-click="addEmployee()"> Add</button>
                        <button type="button" class="btn btn-default" ng-click="showEmpForm(false)">Cancel</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <a ng-click="showEmpForm(true)" class="btn btn-primary">New</a>
    </div>

</div>



@section scripts
{
<script src="~/CustomScripts/App.js"></script>
<script src="~/CustomScripts/EmployeeCtrl.js"></script>
}

